/* Style the product card container */

.productCard {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Add special styling for out-of-stock products */
.outOfStockClass {
  background-color: lightgray;
}
